@import "nullstyle.scss";

$mw:1100;
$md1:$mw+12;
$md2:992.98;
$md3:824.98;
$md4:479.98;


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


input[type=text],input[type=email],input[type=tel],textarea{appearance:none;}

.input{
	border-top:1px solid #000;
	height: 50px;
	border-radius:0 !important;
	width: 100%;
	display: block;
	padding: 0 20px;
	background-color: #f8f7f7;
	font-size: 15px;
}
textarea.input{
	resize: none;
	padding: 0 0;
	height: 117px;
	padding: 10 20px;
}

.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;

}

.mainblock {
	
	flex:1 1 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	//align-items: center;
	text-align: center;
	padding:50px 0;
	align-items: center;
	
}
.mainblock__content {
	
	position: relative;
	z-index: 1;
	flex:1 1 auto;
	object-fit: cover;
	justify-content: center;


	.container{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;


	}
	
}
.container {}
.mainblock__logo {}
.column {}
.mainblock__text {
	color: #ffffff;
font-family: "Lato - Black";
font-size: 34px;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
position: relative;
padding-bottom: 45px;
margin-bottom: 60px;

}
.mainblock__text :after{
	content: '';
	height: 2px;
	width: 105px;	
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -52.5px;
	bottom: 0;

}

.mainblock__title {
	font-family: "Lato Black";
font-weight: 900;
letter-spacing: 5.43px;
margin:0 0 10px 0;
@media(max-width: $md3+px){
	font-size: 25px;line-height: 30px;

}
}
.mainblock__subtitle {font-family: Lato;
font-size: 26px;
font-weight: 400;
letter-spacing: 4.15px;}
.mainblock__footer {}
.mainblock__btn {
	margin-bottom: 70px;
	display: inline-block;
padding:9px 43px;
font-family: Lato;
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.67px;
color: #fff;
}

.btn_w {
border:1px solid #fff;

}
.mainblock__arrow {

}
.mainblock__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.mainblock__img img{
	min-height: 100%;
max-width: 100%;
width: auto;	
object-fit: cover;	
}

.menu {	
padding: 22px 0;
margin-bottom: 95px;}
.container {}
.menu__items {
	margin-bottom: 150px;
	
}
.menu_list {
	display:flex;
	justify-content: center;
	align-items: center;
	@media(max-width:506px){
		flex-wrap: wrap;
		padding-bottom: 20px;
		flex:0 0 50%;
		font-size: 15px;
		line-height: 26px;
		font-weight: 400;
		text-align: center;

}
  
	li{margin:0 25px;

@media(max-width:506px){
		
		flex:0 0 25%;



}
	}

}
.menu_link {


	color: #3c3c3c;
font-family: 'Lato', sans-serif;
font-size: 15px;
font-weight: 400;

text-transform: uppercase;
@media(max-width:506px){
		font-size:10px;


}}
 .mactive{
	color: #ada074;
}


.about {text-align: center;}
.about__title {
margin: 0 0 62px 0px;
}
.title:after{
	content: '';
	width: 81px;
  height: 1px;
  position: absolute;
  left:50%;
  bottom: 0;
  margin-left: -40.5px;
  background-color: #000000;
}
.title {
	color: #000000;
font-family: Lato;
font-size: 34px;
font-weight: 700;
text-transform: uppercase;
/* Text style for "ABOUT" */
letter-spacing: 8.95px;
position: relative;
padding-bottom: 36px;
text-align: center;
}
.about__text {
	width:688px;
	margin:0 auto;
	color: #868585;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 25.89px;
margin-bottom:  67px;
@media(max-width:$md3+px){
		
    width: 100%;
}}
.about_classification {}
.classic {}
.classic_row {
	margin:0 auto;
	width: 825px;
	display:flex;
	justify-content: space-between;
	@media(max-width:$md3+px){
		flex-wrap: wrap;
    width: 100%;
}
}
.classic_column {
	flex:0 0 33.333%;

@media(max-width:$md3+px){
	  flex-wrap: wrap;
		flex:0 0 50%;
		}
@media(max-width:$md4+px){
	  flex-wrap: wrap;
		flex:0 0 100%;
	


}
}
.classic_icon {
	border-radius:50%;
	color: #000;
	border: 1px solid #f2f2f2;
	width: 92px;height: 92px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}
.classic_title {
	margin-bottom: 40px;
font-family: Lato;
font-size: 22px;
font-weight: 100;
text-transform: uppercase;
/* Text style for "WEB" */
letter-spacing: 3.52px;
}
.classic_text {
	font-family: Lato;
font-size: 14px;
font-weight: 100;
line-height: 26px;
color: #868585;

}
.portfolio__title{
	padding-top: 102px;
	margin-bottom: 50px;
}

.portfolio {
	text-align: center;
}
.portfolio__title {}
.title {}
.portfolio__menu {}
.portfolio__item {}
.portfolio__list {
	display: flex;
	justify-content: center;
	align-items: center;

}
.portfolio__link {
	color: #3c3c3c;
font-family: 'Lato', sans-serif;
font-size: 15px;
font-weight: 400;
text-transform: uppercase;
padding: 0 25px;
}

.portfolio__img {

	display: flex;
	
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;

}

.portfolio__column {
	flex:0 0 50%;
	
	width: 100%;
   height: auto;
	padding: 25px;
	@media(max-width:650px){
		flex:0 0 100%;
	}


	
}
.portfolio__column  img{
	width: 100%;
}
.portfolio__button{
margin-bottom: 70px;
	display: inline-block;
padding:9px 43px;
font-family: Lato;
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.67px;
color: #000;
border:1px solid #000;
margin: 60px 0;
}


.partners{
background:url(../img/back.png);
text-align: center;
display: flex;
flex-direction: column;
justify-content:center;	
align-items: center;	
margin-bottom: 90px;
}
.partners__title {
	color: #ffffff;
font-family: Lato;
font-size: 30px;
font-weight: 300;
letter-spacing: 1.8px;
padding-bottom: 93px;
padding-top:100px;
}
.partners__row {
	height: 100%;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	padding-bottom:100px;
@media(max-width: 648px){
		flex-wrap: wrap;
		justify-content: center;
}}
.partners__column {
	margin: 0 97px;
	@media(max-width: 858px){
		margin:0 60px;
	}
	
	
}

@media(max-width: 648px){
		.partners__title{
			padding-bottom: 23px;
         padding-top:20px;


		}

		.partners__row {
			padding-bottom:20px;
		}

		.partners__column{
			padding: 20px;
		}
	}
@media(max-width: 648px){
		.partners__title{
			padding-bottom: 20px;
         padding-top:15px;


		}

		.partners__column{
			padding: 10px;
		}
	}




.contacts {}
.contacts__title {
	margin-bottom: 120px;
}
.title {}
.contacts__item {
	display: flex;
	margin: 0 -15px;
	@media(max-width: 816px){
		flex-wrap: wrap;

	}
}
.contacts__column {
	flex:0 1 50%;
	padding:0 15px;
	@media(max-width: 816px){
		flex:0 1 100%;
		width: 100%;
		text-align: center;

		
	}
}
.contacts__form {

	text-align: right;

	@media(max-width: 816px){
			text-align: center;
	}
}
.form-contacts {}
.form-contacts__row {
	display: flex;
	margin: 0 -15px;
	margin-bottom: 70px;
}
.form-contacts__column {
	flex:0  1 50%;
	padding: 0 15px;
}
.form-contacts__input {}
.form-contacts__label {
	text-align:left;
	margin:0 0 10px 0;



}
.input {}
.contacts__text {
	color: #000000;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 26px;
margin-bottom: 30px;
}
.contacts__autor {
	font-size: 14px;

	font-weight: 700;
	margin-bottom: 30px;
}
.contacts_icons {}
.contacts__email {
	@media(max-width: 816px){
		margin-bottom: 50px;

	}
}
.form-contacts__body{
	max-width:385px;
	display: inline-block;
	width: 100%;
}

.form_btn{
	margin: 70px 0;
	display: inline-block;
padding:9px 43px;
font-family: Lato;
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.67px;
color: #000;
background-color: white;
border:1px solid #000;}
.content{
	width: 266px;
	@media(max-width: 816px){
			text-align: center;
			width: 100%;
	}
}

.footer {
	width: 100%;
	height: auto;
	 background-color: #3c3c3c;
	text-align: center;
}
.footer_content {
	
}
.footer_logo {
	padding: 50px 0;
}
.footer__menu {}
.menu1_item {}
.menu1_list {
	display: flex;
	justify-content: center;


}
.menu1_link {
	color: #a4a4a4;
font-family: Lato;
font-size: 14px;
font-weight: 400;
padding: 0 15px;

}
.footer__text {
	padding: 25px 0 50px 0;
	color: #6c6c6c;
font-family: "Myriad Pro";
font-size: 14px;
font-weight: 400;
}